<p id="notice"><%= notice %></p>


<p>
  <strong>answer id:</strong>
  <%= answer.id %>
</p>


<p>
  <strong>Content:</strong>
  <%= answer.content %>
</p>

<p>
  <strong>Votes:</strong>
  <%= answer.votes %>
</p>

<p>
  <strong>Approved:</strong>
  <%= answer.approved %>
</p>

<p>
  <strong>Question:</strong>
  <%= answer.question_id %>
</p>

<p>
  <strong>User:</strong>
  <%= answer.user_id %>
</p>

<%= link_to 'Edit', edit_answer_path(answer) %> |
<%= link_to 'Back', answers_path %>

<%answer.comments.each do |comment|%>
    <div class="comment-wrap">
      <%= render partial: 'show_comment', locals: {comment: comment} %>
    </div>
  <%end%>

  <p>PUT A LINK HERE TO ADD ANOTHER COMMENT</p>