<% content_for :page_header do %>
    <div id="question-page-header">
        <a href="">back to tutorial</a>
        <a href="">see all tutorials</a>
        <a href="">ask another question about this tutorial</a>
    </div>
    <% end %>
        <div id="question-page-wrap">

        QUESTION PAGE WRAP
            <div id="question-page-question-wrap">
                <div id="question-status-wrap">
                    <a class="question-star-vote" href="#">˄</a>
                    <div id="question-stars-wrap">
                        <div id="question-stars-count">
                            15
                        </div>
                        <div id="question-stars-star">
                            ★
                        </div>
                    </div>
                    <a class="question-star-vote" href="#">˅</a>
                </div>
                <div id="question-content-wrap" >
                    QUESTION CONTENT
                    <div id="question-title" data-show="question" >
                        <%= @question.title %>
                    </div>
                    <div id="actual-question-content" class="question-display"  data-show="question">
                        <%=@question.content%>
                    </div>
                    FORM EDIT QUESTION | 
                    <div id="edit-question-form" data-show="question" hidden>
                    
                        <form action="/questions/<%=@question.id%>" method="post">
                            <input type="hidden" name="_method" value="patch" />
                            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                                <div>
                                    title:
                                    <input id="question-title" value="<%= @question.title %>" name="question[title]"></input>
                                </div>
                                <div>
                                    content:
                                    <input id="actual-question-content" value="<%=@question.content%>" name="question[content]"> </input>
                                </div>
                                <button type="submit">submit</button>
                        </form>
                        <button data-show="question" class="click-to-show" hidden>cancel</button>
                    </div>
                    QUESTION FOOTER
                    <div id="question-footer">
                        <div id="question-content-tags-wrap">
                            <%@tags = Tag.all%>
                                <%@tags.each do |tag|%>
                                    <div class="tag">
                                        <%=tag.name%>
                                    </div>
                                <%end%>
                        </div>
                        <div>
                            by:
                            <%= @question.user.name %>
                        </div>
                        EDIT QUESTION BUTTON
                        <div>
                            <%if current_user.id == @user.id%>
                                <button id="edit-question-button" data-show="question" class="click-to-show">edit this question</button>
                                DELETE QUESTION FORM:
                                <form action="/questions/<%=@question.id%>" method="post">
                                    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                                        <input type="hidden" name="_method" value="delete" />
                                        <button type="submit">delete</button>
                                </form>
                            <%end%>
                        </div>
                    </div>
                </div>
                
            </div>

            START OF COMMENTS for question:
            <%#  START OF COMMENTS%>
            <%@question.comments.each do |comment|%>
                <div class="comment-wrap">
                    <div data-show="comment-<%=comment.id%>"><%=comment.content%></div>
                    <div>written by <%=comment.user.name%></div>
                    CONTAINER FOR EDIT FORM | 
                    <div id="edit-question-comment-form" data-show="comment-<%=comment.id%>" hidden>
                        #edit FORM FOR UPDATE COMMENT
                        <form action="/comments/<%=comment.id%>" method="post"n>
                            <input type="hidden" name="_method" value="patch" />
                            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                            <input hidden name="tutorial_id" value="<%=@question.tutorial.id%>"/>
                            <input hidden name="question_id" value="<%=@question.id%>" />
                            <input name="content" value="<%=comment.content%>"></input>
                            <button type="submit">submit</button>
                        </form>
                        <button data-show="comment-<%=comment.id%>" class="click-to-show" hidden>cancel</button>
                    </div>
                    <%if current_user.id == comment.user.id%>
                        BUTTON FOR SHOW EDIT FORM:
                        <button id="question-comment" data-show="comment-<%=comment.id%>" class="click-to-show">edit</button>
                       
                        DELETE FORM:
                        <form action="/comments/<%=comment.id%>" method="post">
                            <input type="hidden" name="_method" value="delete" />
                            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                            <input type="hidden" name="_method" value="delete" />
                            <input hidden name="tutorial_id" value="<%=@question.tutorial.id%>" />
                            <input hidden name="question_id" value="<%=@question.id%>" />
                            <button>delete button</button>
                        </form>
                    <%end%>
                </div>
            <%end%>
            <div id="add-comment-container" class="comment-wrap" data-show="comment-<%=@question.id%>-add-next-comment" hidden>
                <form action="/comment" accept-charset="UTF-8" method="post">
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                    <textarea name="content"> </textarea>
                    <input hidden name="category" value="question" />
                    <input hidden name="question_id"  value="<%=@question.id%>" />
                    <input hidden name="tutorial_id"  value="<%=@question.tutorial.id%>" />
                    <input hidden name="user_id"  value="<%=current_user.id%>" />
                    <button type="submit">add</button>
                </form>
                <button  data-show="comment-<%=@question.id%>-add-next-comment" class="click-to-show" hidden>cancel</button>
            </div>
       
            <button data-show="comment-<%=@question.id%>-add-next-comment" class="click-to-show">add a comment</button>

           START OF ANSWERS:
        
          <%@question.answers.each do |answer|%>  
            <div id="question-page-question-wrap">
                <div id="question-status-wrap">
                    <a class="question-star-vote" href="#">˄</a>
                    <div id="question-stars-wrap">
                        <div id="question-stars-count">
                            15
                        </div>
                        <div id="question-stars-star">
                            ★
                        </div>
                    </div>
                    <a class="question-star-vote" href="#">˅</a>
                </div>
                <div id="question-content-wrap">
                    <div id="actual-question-content" class="question-display" data-show="answer-<%=answer.id%>">
                        <%=answer.content%>
                    </div>
                    <div id="edit-answer-form">
                        <form action="/questions/<%=@question.id%>" method="post" data-show="answer-<%=answer.id%>" hidden>
                            <input type="hidden" name="_method" value="patch" />
                            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                                <div>
                                    content:
                                    <input id="actual-question-content" value="<%=answer.content%>" name="question[content]"> </input>
                                </div>
                                <button type="submit">submit</button>
                        </form>
                        <button data-show="answer-<%=answer.id%>" class="click-to-show" hidden>cancel</button>
                    </div>
                    <div id="question-footer">
                        <div id="question-content-tags-wrap">
                            <%@tags = Tag.all%>
                                <%@tags.each do |tag|%>
                                    <div class="tag">
                                        <%=tag.name%>
                                    </div>
                                <%end%>
                        </div>
                        <div>
                            by:
                            <%= @question.user.name %>
                        </div>
                        <div>
                            <%#if current_user.id == @user.id%>
                                <button id="edit-answer-button"  data-show="answer-<%=answer.id%>" class="click-to-show">edit this question</button>
                                <form action="/questions/<%=@question.id%>" method="post">
                                    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                                        <input type="hidden" name="_method" value="delete" />
                                        <button type="submit">delete</button>
                                </form>
                            <%#end%>
                        </div>
                    </div>
                </div>
                
            </div>
            START OF COMMENTS FOR ANSWER:
            <%answer.comments.each do |comment|%>
                <div class="comment-wrap">
                    <div data-show="comment-<%=comment.id%>"><%=comment.content%></div>
                    <div>written by <%=comment.user.name%></div>
                    <div id="edit-question-comment-form" data-show="comment-<%=comment.id%>" hidden>
                        #edit EDIT COMMENT FORM FOR QUESTION
                        <form action="/comments/<%=comment.id%>" method="post"n>
                            <input type="hidden" name="_method" value="patch" />
                            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                            <input hidden name="tutorial_id" value="<%=@question.tutorial.id%>"/>
                            <input hidden name="question_id" value="<%=@question.id%>" />
                            <input name="content" value="<%=comment.content%>"></input>
                            <button type="submit">submit</button>
                        </form>
                        <button data-show="comment-<%=comment.id%>" class="click-to-show" hidden>cancel</button>
                    </div>
                    <%if current_user.id == comment.user.id || current_user.id != comment.user.id%>
                        <button id="question-comment" data-show="comment-<%=comment.id%>" class="click-to-show">edit</button>
                        <a href="#">delete</a>

                    COMMENT DELETE FORM:
                    <form action="/comments/<%=comment.id%>" method="post">
                        <input type="hidden" name="_method" value="delete" />
                        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                        <input type="hidden" name="_method" value="delete" />
                        <input hidden name="tutorial_id" value="<%=@question.tutorial.id%>" />
                        <input hidden name="question_id" value="<%=@question.id%>" />
                        <button>delete button</button>
                    </form>












                    <%end%>
                </div>
            <%end%>
            <div id="add-comment-container" class="comment-wrap"   data-show="comment-answer<%=answer.id%>-add-next-comment" hidden>
                <form action="/comment" accept-charset="UTF-8" method="post">
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                    <textarea name="content"> </textarea>
                    <input hidden name="category" value="answer" />
                    <input hidden name="question_id"  value="<%=@question.id%>" />
                    <input hidden name="tutorial_id"  value="<%=@question.tutorial.id%>" />
                    <input hidden name="answer_id"  value="<%=answer.id%>" />
                    <input hidden name="user_id"  value="<%=current_user.id%>" />
                    <button type="submit">add</button>
                </form>
                <button  data-show="comment-answer<%=answer.id%>-add-next-comment" class="click-to-show" hidden>cancel</button>
            </div>
            <button data-show="comment-answer<%=answer.id%>-add-next-comment" class="click-to-show">add a comment</button>

        <%end%>


    <div>
    <h3>add your answer:</h3>
        <form action="/answers" accept-charset="UTF-8" method="post">
        <input name="utf8" type="hidden" value="&#x2713;" />
        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          <textarea name="answer[content]" id="answer_content"></textarea>
          <input hidden name="question_id" value="<%=@question.id%>" />
          <input hidden name="tutorial_id" value="<%=@question.tutorial.id%>" />
          <input type="submit" name="commit" value="Create Answer" data-disable-with="Create Answer" />
  
      </form>
</div>

    </div>