
<% content_for :page_header do %>

 
  <div id="question-page-header">
  <a href="/tutorials/<%= @question.tutorial.id %>">tutorial</a>
        <span><%= @question.tutorial.title %>
              <%if @question.tutorial.format == "chapter"%>
                edition: 3
                p. <%= @question.page %>
              <%end%>
        </span>
        <span>by: <%= @question.tutorial.author %></span>
      
    </div>
<% end %>



<div id="question-page-wrap">
  <p id="notice"><%= notice %></p>
  <div id="question-page-question-wrap">
      <div id="question-status-wrap">
          <%#make ajax to give a star%>
          <a class="question-star-vote" href="#">˄</a>
          <div id="question-stars-wrap">
            <div id="question-stars-count">
             5
            </div>
            <div id="question-stars-star">
              ★
            </div>
          </div>
          <a class="question-star-vote" href="#">˅</a>
      </div>
      <div id="question-content-wrap"> 
          <div id="question-content-content">
              
              <p>
                <strong>Question:</strong>
                <%= @question.title %>
              </p>
              
              <p>
                <strong>Content:</strong>
                <%= @question.content %>
              </p>

      
           
          
              
          
              
          </div>
          <div id="questions-footer">
          <div id="question-content-tags-wrap">
          <span>status:</span>
          <span>
            <%= @question.status %>
          </span>

          <span> tags: </span>

          <%4.times do |num|%>
              <div class="tag">tag-name</div>
          <%end%>
        </div>
          <p>

                
               
                <%= link_to 'edit', edit_question_path(@question) %> |
              <%= link_to 'delete', @question, method: :delete, data: { confirm: 'Are you sure?' } %>
              <strong>By:</strong><%= @question.user.name %>
              </p>
              </div>
      </div>

     
  </div>
  <p>number of comments:</p>
  <%=@question.comments.length%>
  <%@question.comments.each do |comment|%>
    <div class="comment-wrap">
      <%@comment = comment%>
      <%= render partial: 'show_comment', locals: {comment: @comment} %>
    </div>
  <%end%>
  <p>**  put a link here to add another comment </p>



  <%=@question.answers.length%>
  <%@question.answers.each do |answer|%>
    <div class="answer-wrap">
      <%@answer = answer%>
      <%= render partial: 'show_answer', locals: {answer: @answer} %>
    </div>
  <%end%>
  </div>