
<% content_for :page_header do %>

  
        <%= link_to 'add a new tutorial', new_tutorial_path, class: "page-header-add-tutorial" %> *
        <%= link_to 'answer questions', new_tutorial_path, class: "page-header-add-tutorial" %>
        <a href="#">link to ask a question</a>
        <a href="<%=@question.tutorial.url%>"></a>

<% end %>
<div id="question-page-wrap">
  <p id="notice"><%= notice %></p>

  <h1>
    <a href="/tutorials/<%= @question.tutorial.id %>"
      <span> 
        Back to 
        <%= @question.tutorial.format %>: 
        <%= @question.tutorial.title %> tutorial
        <%if @question.tutorial.format == "chapter"%>
           edition: 3
          p. <%= @question.page %>
       <%end%>
       by: <%= @question.tutorial.author %>
      </span>    
    </a>
  </h1>





  
  <div id="question-page-question-wrap">
    <div id="question-status-wrap">
        <%#make ajax to give a star%>
        <a class="question-star-vote" href="#">˄</a>
        <div id="question-stars-wrap">
          <div id="question-stars-count">
             15
          </div>
          <div id="question-stars-star">
              ★
          </div>
        </div>
        <a class="question-star-vote" href="#">˅</a>
    </div>
    <div id="question-content-wrap">
      <div id="question-title"><p><%= @question.title %></p></div>
      <div id="actual-question-content">
         <%=@question.content%>
         <%700.times do%>
          word 
        <%end%>
      </div>
      <div id="question-content-tags-wrap">
          <%14.times do |num|%>
              <div class="tag">tag-name</div>
          <%end%>
        </div>
        <div id="question-footer">
        <div>
            by: <%= @question.user.name %>
        </div>
        <div>
            <%= link_to 'edit', edit_question_path(@question) %> 
            <%= link_to 'delete', @question, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        </div>
    </div>

  </div>
  <div id="question-comments-wrap">  
    <%@question.comments.each do |comment|%>
      <div class="comment-wrap">
        <%@comment = comment%>
        <%= render partial: 'show_comment', locals: {comment: @comment} %>
      </div>
      <button>new comment</button>
      <%= render partial: 'new_comment_form', locals: {comment: comment} %>
    </div>
    <%end%>
   
  
  <%@question.answers.each do |answer|%>
    <div id="question-page-question-wrap">
    <div id="question-status-wrap">
        <a class="question-star-vote" href="#">˄</a>
        <div id="question-stars-wrap">
          <div id="question-stars-count">
             5
          </div>
          <div id="question-stars-star">
              ★
          </div>
        </div>
        <a class="question-star-vote" href="#">˅</a>
    </div>
    <div id="question-content-wrap">
      <div id="actual-question-content">
         <%=answer.content%>
      <%700.times do%>
        word 
      <%end%>
      </div>     
        <div id="question-footer">
            <div>
                by: <%=answer.user.name%>
            </div>
            <div>
                <a href="/questions/7/edit">edit</a> 
                <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/questions/7">delete</a>
            </div>
        </div>
    </div>
  </div>
      <%#@answer = answer%>
      <%#= render partial: 'show_answer', locals: {answer: @answer} %>
    <div id="question-comments-wrap">  
      <%answer.comments.each do |comment|%>
        <div class="comment-wrap">
          <%@comment = comment%>
          <%= render partial: 'show_comment', locals: {comment: @comment} %>
        </div>
      <%end%>
      <p>**  put a link here to add another comment </p>
    </div>
  <%end%>
  
  </div>

  