
  Get a 'create' star by adding a new tutorial:
  FORM FOR CREATING A TUTORIAL:
  <a href="/tutorial/<%=%>/question/new">Add a question to ths tutorial: </a>
  <button data-show="create-tutorial-form" class="click-to-show">add a tutorial</button>
<div data-show="create-tutorial-form" hidden>
  <form action="/tutorials" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    title:
    <input type="text" name="tutorial[title]" placeholder="what it the tutorial title" /><br>
    author:
    <input type="text" name="tutorial[author]" value="<%=%>"/><br>
    url:
    <input type="text" name="tutorial[url]" value="<%=%>"/><br>
    playlist:
    <input type="text" name="video[playlist]" value="<%=%>"/><br>
    <input type="text" name="video[duration]" value="<%=%>"/><br>
    
    <button type="submit">Add Tutorial</button>
  </form>
<form>
<button>cancel</button>
</form>

</div>

<div>

<%@videos.each do |video|%>
  <div class="tutorial-index-wrap">
    <%=video.tutorial.title%>
    <%=video.tutorial.url%>
    <%=video.channel%>
  </div>
<%end%>










</div>