
<%content_for :page_header do%> 
 
  <div id="add-tutorial-form-controls">
    <button data-show="create-tutorial-form" class="click-to-show">add a tutorial</button>
    <form>
    <button data-show="create-tutorial-form"  hidden>cancel</button>
  </form>
  </div>
  <div  data-show="create-tutorial-form" hidden>
  <div id="create-tutorial-form">
      <form action="/tutorials" method="POST">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
        Get some create stars:
        <input type="text" name="tutorial[title]" placeholder="what it the tutorial title" /><br>
        author:
        <input type="text" name="tutorial[author]" placeholder="who is the presenter?"/><br>
        url:
        <input type="text" name="tutorial[url]" placeholder="paste the url here"/><br>
        playlist:
        <input type="text" name="video[playlist]" placeholder="what is the name of the playlist it belongs to?"/><br>
        <input hidden type="text" name="video[format]" value="video"/><br>
        <div class="form-controls">
        duration:
        <input type="text" name="video[duration]" placeholder="how many minutes long is"/><br>
        <button type="submit">submit</button>
        </div>
      </form>
</div>
<%end%>
<div id="tutorials-index-frame">


  <%@videos.each do |video|%>
    <div class="tutorial-index-wrap">
      <ul>
        <li>From: <%=video.channel%></li>
        <li>Tutorial: <%=video.tutorial.title%></li>
        <li>Presented by: <%=video.tutorial.author%></li>
        <li><%=video.duration%> minutes</li>
        <li><%=video.tutorial.questions.length%> question(s) asked on this tutorial</li>
        <li>
            <%@unanswered = 0%>
            <%video.tutorial.questions.each do |question|%>
                <%if question.status == "open" then @unanswered += 1 end%> 
            <%end%>
            <%=@unanswered%> unanswered questions
        </li>
        <li>
            <a href="/tutorial/<%=video.tutorial.id%>">ask and answer questions</a>
        </li>
      </ul>
      
    </div>


<%end%>

</div>


