<p id="notice"><%= notice %></p>

<h1>PUT A SEARCH BAR HERE TO SEARCH BY AUTHOR AND TITLE</h1>

<div id="page-number-links-wrap">

</div>
<% content_for :page_links do %>
  <%= link_to 'New Tutorial', new_tutorial_path %>
<% end %>


<p>SHOW ALL OF THE CATEGORIES: </p>
<p>make links that generates this same view, with the filetered tutorials</p>
<%Tag.all.each do |tag|%>
  <a href="#">go to tutorials with tag: <%=tag.name%></a>
<%end%>



    <% @tutorials.each do |tutorial| %>



      <div class="tutorials-summary-wrap">
          <%# tutorial.user_id %>
          <p>format: <%= tutorial.format %></p>
          <p>title: <%= tutorial.title %></p>
          <p>author: <%= tutorial.author %></p>
          <p>url: <%= tutorial.url %></p>
          
          <p>added by: <%= tutorial.user.name %> </p>
          <%if tutorial.format == "video"%>
            <p>this tutorial is a video:</p>
            <%#=  why isn't this working? tutorial.video%>
            <% @video = Video.where(tutorial_id: tutorial.id)[0]%>
            <% if @video != nil %>
                  <p>channel: <%=@video.channel %></p>
                  <p>playlist: <%=@video.playlist %></p>
                  <p>duration: <%=@video.duration %><p>
            <% end %>
            
          <%elsif tutorial.format == "chapter"%>
          <% @chapter = Chapter.where(tutorial_id: tutorial.id)[0]%>
          <% if @chapter != nil %>
          <p>book title: <%=@chapter.book_title %></p>
          <p>book edition: <%=@chapter.book_edition %></p>
          <p>start page: <%=@chapter.start_page %><p>
          <p>end page: <%=@chapter.end_page %><p>
          <p>tutorial_id: <%=@chapter.tutorial_id %><p>
    <% end %>
          
          <%end%>
          
          <%= link_to 'Show', tutorial %>
            <%= link_to 'Edit', edit_tutorial_path(tutorial) %>
            <%= link_to 'Destroy', tutorial, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>

  <%end%>
      
  
          
           
  
       
        <%#= will_paginate @tutorials%>

  <%= link_to 'New Tutorial', new_tutorial_path %>




</br>

