
  Get a 'create' star by adding a new tutorial:
  FORM FOR CREATING A TUTORIAL:
  <%= render "shared/new_tutorial_form" %>



<%@tutorials.each do | tutorial |%>
  <%if tutorial.format == "video"%>
  <a href="tutorials/<%=tutorial.id%>">
  go ask and answer questions
    <div>
        title: <%=tutorial.title%>
        presented by: <%=tutorial.author%>
        from channel: <%=tutorial.video.channel%>
        from playlist: <%=tutorial.video.playlist%>
        added by: <%=tutorial.user.name || tutorial.user.email%>
        
        
      </a>
    </div>
  <%else%>
    "only video tutorials supported at this time"
  <%end%>
<%end%>