<% content_for :page_header do %>
    </div>
    <div id="tutorial-display-wrap">
      <%if @tutorial.format == "video"%>
      <div>
      Tutorial: <%=@tutorial.title%> <br>
      From the <%=@tutorial.video.playlist%> playlist <br>
      On the <%=@tutorial.video.channel%> Channel <br>
      
      Presented by <%=@tutorial.author%> <br>
      </div>
          <iframe id="tutorial-video" width="280" height="207.5" src="<%=@tutorial.url%>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen webkitallowfullscreen='true'></iframe>
        
          <div>
          <button data-show="edit-tutorial-form" class="click-to-show">edit tutorial info</button>
  <div data-show="edit-tutorial-form" hidden>
  <form id="edit-tutorial-form" action="/tutorial/<%=@tutorial.id%>" accept-charset="UTF-8" method="post">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input type="hidden" name="_method" value="patch" />
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
  title: <br>
    <input type="text" name="tutorial[title]" value="<%=@tutorial.title%>" /><br>
  author:<br>
    <input type="text" name="tutorial[author]" value="<%=@tutorial.author%>"/><br>
  url:<br>
    <input type="text" name="tutorial[url]" value="<%=@tutorial.url%>"/><br>
  playlist:<br>
    <input type="text" name="video[playlist]" value="<%=@tutorial.video.playlist%>"/><br>
    duration:
    <input type="text" name="video[duration]" value="<%=@tutorial.video.duration%>"/><br>
    <input hidden name="video[format]" value="video"/>
    <button type="submit">edit</button>
</form>
<form>
     <button>cancel</button>
</form>
</div>
  <button><a id="ask-question-link" href="/tutorial/<%=@tutorial.id%>/question/new">ask a question about ths tutorial</a></button>
</div>
      <%elsif @tutorial.format == "chapter"%>
        "we do not yet support chapters"
      <%end%>
  </div>
<%end%>

<div id="show-tutorial-page-wrap">

  <%@questions.each do |question|%>
      <div class="question-tutorial-show-wrap">
        <ul>
          <li>
          @ <%=question.time%> mins
          </li>
          <li>
          <%=question.title%>
          </li>
          <li>
          status: <%=question.status%> 
          </li>
        </ul>
        <button>
          <a class="show-tutorial-link" href="/tutorials/<%=@tutorial.id%>/questions/<%=question.id%>">see This Question</a>
        </button>
    
      </div>
  <%end%>
  
  <div id="end">
</div>
</div>