**  PUT LINKS HERE TO add a question

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tutorial.title %>
  </br> tutorial id:
  <%= @tutorial.id %>
</p>

<p>
  <strong>Author:</strong>
  <%= @tutorial.author %>
</p>

<p>
  <strong>Url:</strong>
  <%= @tutorial.url %>
</p>

<p>
  <strong>Format:</strong>
  <%= @tutorial.format %>
</p>

<p>
  <strong>User:</strong>
  <%= @tutorial.user_id %>
</p>
<%= link_to 'Destroy', @tutorial, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit', edit_tutorial_path(@tutorial) %> |
<%= link_to 'Back', tutorials_path %>

<h1>Questions:</h1>

<%10.times.each do %>
  <%@questions.each do |question|%>
    ******************************<br>
    QUESTION:
    <p><%=question.title%></p>
    <p><%=question.content%></p>
    <p><%=question.user.name%></p>
    <%if @tutorial.format == "video"%>
      <p><%=question.time%></p>
    <%elsif @tutorial.format == "chapter"%>
    <p><%=question.page%></p>
    <%end%>
    <%= link_to 'Show', question %>
  <%end%>
<%end%>