<% content_for :page_header do %>
  <div id="tutorial-header-frame">
    <div>
      < ----  go back to all tutorials ....................................................  These are all of the questions:
    </div>


   
    <div id="tutorial-display-wrap">


      <%if @tutorial.format == "video"%>
      <div>
      Video: <%=@tutorial.title%> <br>
      Channel: <%=@tutorial.video.channel%> <br>
      Playlist: <%=@tutorial.video.playlist%> <br>
      Presented by <%=@tutorial.author%> <br>
      </div>
          <iframe id="tutorial-video" width="280" height="207.5" src="<%=@tutorial.url%>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen webkitallowfullscreen='true'></iframe>
          <br><%=@tutorial.video.duration%> mins
          <h3>time-stamps of questions:</h3>
          <div>
            <%@questions.each do |question|%>
              <a href="#"><%=question.time%></a>
            <%end%>
          </div>
         
          <a href="/tutorial/<%=@tutorial.id%>/question/new">Add a question to ths tutorial: </a>
          Edit this tutorial:
          <form>
          </form>
          
      <%elsif @tutorial.format == "chapter"%>
        "tutorial is a chapter"
      <%end%>
    </div>






  </div>
<%end%>

<div id="show-tutorial-page-wrap">
  <a href="#end">go to end of page</a>
  SHOW THE QUESTIONS:
  <br>
  <%@questions.each do |question|%>
    - - - - - - - -
    <div>
      Question: <%=question.title%>
      <br>
      <a class="show-tutorial-link" href="/tutorials/<%=@tutorial.id%>/questions/<%=question.id%>">See This Question</a>
      <br>
      status: <%=question.status%>
      at time: <%=question.time%> min
    </div>
    - - - - - - - -
  <%end%>
  <% 1000.times.each do |num| %>
    <%@questions.each do |question|%>
      - - - - - - - -
      <div>
        Question: <%=question.title%>
        <br>
        <a class="show-tutorial-link" href="/tutorials/<%=@tutorial.id%>/questions/<%=question.id%>">See This Question</a>
        <br>
        status: <%question.status%>
        at time: <%question.time%> min
      </div>
      - - - - - - - -
    <%end%>
  <% end %>
  <div id="end"> end of page
  </div>
</div>