<!DOCTYPE html>
<html>
  <head>
    <title>Journal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <header>
    <div id="site-header">
    
      <h1>meta-tutor</h1>
        <%if false%>
          <div id="header-sign-in-buttons-wrap">
            <button id="header-sign-in">sign in</button>
            <button id="header-sign-in">sign up</button>
          </div>
        <%else%>
        <div id="header-profile-wrap">
        <div id="stars-wrap">
            <div id="outter-star-wrap">
            <p>teach</p>
                <div id="teach-star-wrap" class="star-wrap">
                    <div id="teach-star-content" class="star-content">
    
                    </div>
                </div>
                
            </div>
            <div id="outter-star-wrap">
            <p>learn</p>
                <div id="learn-star-wrap" class="star-wrap">
                    <div id="learn-star-content" class="star-content">
    
                    </div>
                </div>
                
            </div>
    
            <div id="outter-star-wrap">
            <p>create</p>
                <div id="create-star-wrap" class="star-wrap">
                    <div id="create-star-content" class="star-content">
    
                    </div>
                </div>
              
            </div>
            
        </div>
        <div id="header-user-name">user-name</div>
    </div>
        <%end%>
    </div>
    <div id="page-header"> page header
      <%#do a content for yield here%>
    </div>
  </header>
  <div id="page-frame">
    <%= yield %>

</div>
<footer>
  contact us @meta-tutor
</footer>
</body>
</html>
